/* COMMON */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  text-align: center;
  margin-bottom: 30px;
}

.container *{
  text-align: center;
}

img {
  max-height: 100px;
  margin-bottom: 3%;
}

hr{
  margin-top: 5%;
}

/* LOCAL */
.container [class*="col-"] {
  padding: 0 40px;
  margin: 3% 0;
}

section:nth-child(4) .container [class*="col-"]:nth-child(n+2){
  margin-bottom: 5%;
}

section:nth-child(4) .container [class*="col-"]:nth-child(n+2) img{
  background-color: #428bca;
  padding: 20px;
  border-radius: 50%;
}

/* .container [class*="col-xs"] img{
  max-width: 30%;
}

.container [class*="col-md"] img{
  max-width: 30%;
} */
